@media (max-width: 400px){
    body{
        margin: 3% 5%;
    }
    #box{
        width: 300px;
    }
    #code img{
        border-radius: 5%;
    }
    #txt{
        font-size: 14px;
    }
    
    #txt p{
        font-size: 12px;
    }
}