body{
   background-color: hsl(212, 45%, 89%);
   margin: 5% 40%;
}

#box{
    background-color: hsl(0, 0%, 100%);
    width: 400px;
    height: 700px;
    padding-top: 2%;
    align-content: center;
    border-radius: 5%
}

#code{
    width: 90%;
    height: 60%;
    background-color: hsl(218, 44%, 22%);
    margin: 5%;
    border-radius: 5%
}

#code img{
    width: 360px; 
    height: 430px;
    border-radius: 5%
}

#txt{
    padding: 1% 0;
    text-align: center;
    font-size: 16px;
    font-family: Arial;
}

#txt p{
    font-size: 16px;
}

.attribution{
    margin-top: 30px;
    text-align: center;
}